
<mat-action-list *ngIf="!(auth.user | async);">

    <button mat-list-item (click)="signInWithGoogle()">
      Connect Google
      <span style="flex: 1 1;"></span>
      <i class="fab fa-google fa-lg"></i>
    </button>

    <button mat-list-item (click)="signInWithGithub()">
      Connect GitHub
      <span style="flex: 1 1;"></span>
      <i class="fab fa-github fa-lg"></i>
    </button>

    <button mat-list-item (click)="signInWithFacebook()">
        Connect Facebook
      <span style="flex: 1 1;"></span>
      <i class="fab fa-facebook fa-lg"></i>
    </button>

    <button mat-list-item (click)="signInWithTwitter()">
        Connect Twitter
        <span style="flex: 1 1;"></span>
      <i class="fab fa-twitter fa-lg"></i>
    </button>

    <button mat-list-item (click)="signInAnonymously()">
        Connect Anonymously
        <span style="flex: 1 1;"></span>
      <i class="fas fa-user-secret fa-lg"></i>
    </button>
</mat-action-list>

