mat-toolbar {
  height: 64px;

  .logo {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2em;

    img {
      width: 35px;
      margin-left: 10px;
      margin-right: 5px;
    }
  }
}
@media screen and (max-width: 600px) {
  .text-logo {
      display: none;
  }
}