<mat-toolbar mat-elevation-z2 color="primary">
  <button mat-icon-button (click)="toggleSidenav(sidenav)">
    <mat-icon>menu</mat-icon>
  </button>
  <a class="logo" routerLink="/">
    <img src="/assets/images/andrewslogo.svg" alt="">
    <span class="text-logo">andrews.codes</span>
  </a>
  <span class="flex-spacer"></span>
  <span>
    <a mat-button routerLink="/login">
      Login
    </a>
    <a mat-button routerLink="/ssr">
      SSR Universal
    </a>
    <a mat-button routerLink="/notes">
      Firestore
    </a>
    <a mat-button routerLink="/uploads">
      File Uploads
    </a>
  </span>
</mat-toolbar>
