h3 {
    margin-bottom: 0;
}

.mat-card {
    max-width: 300px;
}

.user-info {
    img {
        border-radius: 50%;
        margin-right: 5px;
    }

    span {
        vertical-align: top;
        line-height: 50px;
    }
}